.userInfor-content {
    background-color: #fff;
    padding: 30px 40px;
}
.uploadImg {
    border: 1px solid #ddd;
    height: 120px;
    width: 100px;
    text-align: center;
}
.userInfor-content {
    font-family: 宋体;
}
.upload-text {
    color: #6f6f6f;
    font-size: 12px;
    margin-top: 10px;
    text-decoration: underline;
    cursor: pointer;
}
.infor-zw-text {
    font-size: 14px;
    color: #5f5f60;
}
.long-bar {
    height: 30px;
    margin-top: 20px;
    position: relative;
}
.out-bar {
    background-color: #C6E5DF;
    height: 12px;
    position: relative;
    width: 550px;
    margin-top: 4px;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
}
.bar-00 {
    background-color: #02B784;
    height: 12px;
    width: 60%;
    position: absolute;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
}
.infor-zw {
    margin-left: 30px;
    margin-top: 30px;
}
.bar-num {
    margin-left: 10px;
}
.infor-content-section2 {
    margin-top: 35px;
}
.infor-sec1-part2 {
    width: 73%;
}
.infor-sec2-title {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.infor-sec2-title>span {
    border-bottom: 3px solid #0395BF;
    display: inline-block;
    padding: 8px 20px;
}
.infor-content-section1 {
    padding: 20px;
}
.infor-text1 {
    font-size: 12px;
    color: #0395BF;
}
.infor-text2 {
    font-size: 14px;
    color: #5f5f60;
}
.infor-text3 {
    font-size: 12px;
    color: #0395BF;
}
.infor-sec2-part ul {
    width: 100%;
    padding: 0 40px 20px;
}
.upload {
	width:15%;
    padding-top: 16px;
}
.upload> div {
    margin-top: 10px;
}
.infor-sec2-part ul>li {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 100%;
}
.infor-sec2-part-00 {
    width: 78%;
    margin-top: 4px;
}
.infor-sec2-part-01 {
    border: 1px solid #0395BF;
    padding: 3px 5px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor: pointer;
}
.bind-text {
    margin-left: 4px;
}
.infor-text4 {
    font-size: 14px;
    color: #0083ac;
}
.finish-state {
    background-color: #0395BF;
    color: #ffffff;
}
.uper-user {
    background-color: #fdc95c;
    border: 1px solid #CD8B00;
    color: #333;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 3px 10px;
    cursor: pointer;
}
.infor-sec2-part1 {
    margin-left: 40px;
    margin-top: 20px;
}
a.infor-sec2-part1-01 {
    font-size: 12px;
    color: #d6260e;
}
.bot-none {
    border-bottom: none!important;
}
.infor-sec2-part1-02 {
    background-color: #DEF7FF;
    border: 1px solid #809CAE;
    padding: 10px 20px;
}
.infor-wt {
    margin-left: 20px;
}
.ts-text {
    font-size: 13px;
    color: #3d4245;
}

.infor-ts.float-left {
    padding-top: 3px;
}
.usersNi, .inputEmail {
    font-family: "宋体";
    padding: 0 6px;
}
.mar-top00 {
    margin-top: 4px;
}

.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
.upfile-btn {
	margin-top:10px;
}
.upfile-form {
	width:100%;
}
.upfile-div {
	background-color: #ffffff;
    border: 1px solid #ccc;
    left: 200px;
    position: absolute;
    top: -220px;
    width: 360px;
    z-index: 1200;
}
.editNc-div{
	background-color: #ffffff;
    border: 1px solid #ccc;
    left: 181px;
    position: absolute;
    top: 216px;
    width: 480px;
    z-index: 1200;
}
.upfile-sec1 {
	padding: 10px;
	border-bottom:1px solid #ddd;
	color: #555;
    font-size: 14px;
}

.new-nc {
    border: 1px solid #ccc;
    padding: 3px 10px;
    width: 198px;
}
.upload-success {
	background-image: url("../images/bind-00.png");
    background-position: 0 11px;
    background-repeat: no-repeat;
    padding: 10px 22px;
}
}
.up-top {
	margin-left: 62px;
}
.color-grey {
	color:#666;
}

.avatar-local-wrap {
    padding: 30px 0 30px 44px;
    text-align: left;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    color: #999;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eeeeee;
    cursor: not-allowed;
}
.form-control.ng-pristine.ng-valid {
	background-color: #2C9DEB;
    border: 1px solid #2C9DEB;
    padding: 2px 10px;
    color: #ffffff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.flie-gs ,.file-dx{
    margin-left: 62px;
  
}
.red-color {
    font-size: 12px;
    color: #e01819;
    margin-left: 62px;
}
.file-dx {
    margin-top: 4px;
}
.upbtn1, .upbtn2 {
	background-color: #eee;
    border: 1px solid #ccc;
    padding: 3px 20px;
	margin:10px;
	color: #333;
	cursor:pointer;
}
.upload-btn {
	background-color: #2C9DEB;
    border: 1px solid #2C9DEB;
    padding: 2px 10px;
    color: #ffffff;
    cursor: pointer;
}
.cancle-btn {
	background-color: #2C9DEB;
    border: 1px solid #2C9DEB;
    padding: 2px 10px;
    color: #ffffff;
	margin-left: 20px;
	cursor: pointer;
}

.fileUpload.position-re {
    margin-top: 20px;
}
.fileUpload>span {
	background-color: #2c9deb;
    border: 1px solid #ccc;
    border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
    padding: 6px 20px;
	cursor:pointer;
    color: #ffffff;
}
.fileUpload input.upload {
    cursor: pointer;
    font-size: 20px;
    height: 82px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 58px;
    top: -54px;
    width: 182px;
}
.close-up {
		cursor:pointer;
}
.fileUpload {
    margin-top: 18px;
    padding-left: 62px;
}
.form-file {
    height: 30px;
    left: 56px;
    position: absolute;
    width: 100px;
    filter:alpha(opacity=0);       /* IE */
    -moz-opacity:0;              /* 老版Mozilla */
    -khtml-opacity:0;              /* 老版Safari */
    opacity: 0;
}
.up-line {
	border-top:1px solid #ccc;
}
.imsec1-ul-out {
    background-color: #000;
    height: 100%;
    left: 0;
    filter:alpha(opacity=30);       /* IE */
    -moz-opacity:0.3;              /* 老版Mozilla */
    -khtml-opacity:0.3;              /* 老版Safari */
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.modify-img {
    font-family: 微软雅黑;
}
.user-lef1 {
	margin-left: 80px;
    margin-top: 10px;
}
.file-dd.up-top.color-red {
    color: #d41633;
    margin-left: 80px;
    margin-top: 10px;
}
.user-plef1 {
	padding-left: 80px;
}